
#map { 
    height: 700px; 
    width: 700px;
    
}

body { margin: 1; padding: 1; }
#map { position: center; top: 0; bottom: 0; width: 100%; }

#title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}    